* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: satoshi;
}

body {
  overflow-x: hidden !important;
  background: #1e2937;
  background: radial-gradient(
    circle,
    rgba(30, 41, 55, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  font-size: 16px;
}
img {
  image-rendering: auto;
}

a:-webkit-any {
  color: none;
}

.icons-container {
  padding-block: 8px;
  display: flex;
  user-select: none;
  overflow: hidden;
  --gap: 80px;
  margin-top: 40px;
  gap: var(--gap);
}

.icons-container ul {
  list-style-type: none;
  flex-shrink: 0;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap);

  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  100% {
    transform: translateX(calc(-100% - var(--gap)));
  }
}
